/*GLOBAL*/
body{
	background: URL("../img/bg.jpg");
}

/*LAYOUT*/
.container{
	width: 80%;
	margin: 0 auto;
	background: gray;
}

article section {
	width: 45%;
	float: left;
	padding: 2%;
}

/*ADAPTIVE CONTENT*/
iframe, img{
	max-width: 100%;
	width: 100%;
}

/*desktop*/
@media(min-width: 960px){
	#home{
		width: 300px;
	}

	#youtube-big{
		display: block;
	}
}

/*tablet*/
@media(min-width: 768px){
	#youtube-med{
		display: none;
	}
}

/*mobile*/
@media(min-width: 480px){
	article section{
			float: none;
			width: 100%;
	}


}