/*GLOBAL*/
body{
	background: URL("../img/bg.jpg");
}

/*LAYOUT*/
.container{
	width: 80%;
	margin: 0 auto;
	background: gray;
}

article section {
	width: 45%;
	float: left;
	padding: 2%;
}

/*ADAPTIVE CONTENT*/
iframe, img{
	max-width: 100%;
	width: 100%;
}